* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: "sans-serif", "Arial Black";
    color: gray;
}

.container {
    width: 100%;
}

.titulo {
    position: relative;
    top: 20px;
    width: 400px;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 2px solid gray;
    margin-top: 20px;
}

#jogo {
    float: left;
    width: auto;
    height: auto;
    background-color: white;
    align-items: center;
    justify-content: center;
    display: inline-block;
}

h1 {
    font-size: 50px;
    font-weight: bold;
}

h3 {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin: auto;
}

#voltar {
    position: relative;
    top: 10px;
    width: 400px;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    border: 2px solid gray;
    margin-top: 10px;
    cursor: pointer;
}

#voltar:hover {
    background-color: gray;
    color: white;
}

#iniciaJogo {
    position: relative;
    top: 20px;
    width: 400px;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 70px;
    border: 2px solid gray;
    margin-top: 20px;
    cursor: pointer;
}

#iniciaJogo:hover {
    background-color: gray;
    color: white;
}

#iniciaJogoIA {
    position: relative;
    top: 20px;
    width: 400px;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 70px;
    border: 2px solid gray;
    margin-top: 20px;
    cursor: pointer;
}

#iniciaJogoIA:hover {
    background-color: gray;
    color: white;
}

#jogador-vencedor {
    display: flex;
    width: 400px;
    align-items: center;
    justify-content: center;
    color: chartreuse;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 10px;
}

#jogadores {
    display: flex;
    color: gray;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#tabuleiro {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 0;
    flex-grow: 1;
    padding: 10px;
}

.jogador-x {
    display: block;
    float: left;
    width: auto;
    height: auto;
    justify-content: center;
    align-items: center;
    margin: auto;
    color: khaki;
}

.jogador-o {
    display: block;
    float: left;
    width: auto;
    height: auto;
    justify-content: center;
    align-items: center;
    margin: auto;
    color: lightblue;
}

@keyframes animate {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.7;
    }

    100% {
        opacity: 0;
    }
}

#x {
    display: flex;
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: center;
    border-radius: 70px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 300px;
    animation: animate
    1.5s linear infinite;
}


#o {
    display: flex;
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: center;
    border-radius: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 300px;
    animation: animate
    1.5s linear infinite;
}

.quadrado {
    min-width: 120px;
    min-height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    cursor: pointer;
}

.quadrado:hover {
    background-color: lightgray;
    color: white;
}

.quadrado:not(:nth-child(3n)) {
    border-right: 3px solid gray;
}

.quadrado:not(:nth-last-child(-n +3)) {
    border-bottom: 3px solid gray;
}

.x {
    color: khaki;
}

.o {
    color: lightblue;
}

.vencedor span{
    color: chartreuse;
}
